body{
	background: #dedede;
	font-family: arial;
	margin: 0;
	padding: 0;
}
.main{
	margin: auto;
	
}
nav{
	position: fixed;
	top: 0px;
	width: 100%;
	min-height: 65px;
	background-image: linear-gradient(45deg, yellow 30%, green);
	box-shadow: 0 10px 15px rgba(0,0,0,0.8);
}
*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
header{
	
	background-image:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0,0)), url(../img/bg2.jpg);
    height: 100vh;
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}

 ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 20px;

}
 ul li{
	display: inline-block;
}
 ul li a{
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color:white;
	padding: 7px 20px;
	border: 4px solid transparent ;
	border-radius: 30px;
	transition: 0.7s ease;
}
ul li a:hover {
	background-color: yellow;
	color: #000;
}
 ul li.active a{
	background-color: yellow;
	color: #000;
}
.logo img{
	position: relative;
	float: left;
	width: 65px;
	height: auto;
}
.container{
	position: relative;
	width: 580px;
	height: 420px;
	margin: 500px auto;
	margin-top: 100px;
	margin-left: 200px;
}
.glass{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
	background-filter: blur(90px);
	-webkit-backdrop-filter:  blur(80px);
	border-radius: 20px;
	border: 5px solid rgba(255, 255, 255, 0.20);
	box-shadow: 0 10px 15px rgba(0,0,0,0.9);
}
.natural img{
	margin-top:-10px;
    margin-left: 2px;
	width: 350px;
	height: auto;
}
.whole img{
	margin-top: -120px;
    margin-left:100px;
	width: 460px;
	height: auto;
}
.intro p{
	letter-spacing: 1px;
	position:relative;
	margin-top: -280px;
	text-align: justify;
	color:green;
	font-size: 22px;
	line-height: 23px;
	font-family: Rockwell;
}
.title img{
	position: relative;
	top: 50px;
	left:260px;
	width: 800px;
	height: auto;
}
.button{
	
	position: relative ;
	top: 30px;
	left: 25%;
	font-size: 11px;
} 
.btn{
	font-weight: bold;
	border: 5px solid transparent ;
	border-radius: 30px;
	padding: 5px;
	margin: 0.4%;
	font-family: Rockwell;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background-size: 200%;
	transition:  0.6s;
}
.btn1{
	background-image: linear-gradient( to left ,#C4E538,#009432,#C4E538);
}
.btn2{
	background-image: linear-gradient( to left ,#C4E538,#009432,#C4E538);
}
.btn:hover{
	background-position: right;
} 
.feature img{
	position: relative;
	height: auto;
	width: 30%;
	bottom: 370px;

}
.set-1{
	width: 90%;
 margin: -20% 4%;
 display: grid;
 grid-template-columns: 17% 16% 16% 16% 16%;
 grid-gap: 80px;
}
.set-1 img{
    border-radius: 30px;
	cursor: pointer;
	transition: 0.4s;
}
.set-1 img:hover{
	transform: scale(1.2);
	border-radius: 30px;
	box-shadow: 0 32px 30px rgba(68, 77, 136,0.7)
}

.set-2{
	width: 90%;
 margin: -37% 4%;
 display: grid;
 grid-template-columns: 17% 16% 16% 16% 16%;
 grid-gap: 80px;
}
.set-2 img{
    border-radius: 30px;
	cursor: pointer;
	transition: 0.4s;
}
.set-2 img:hover{
	transform: scale(1.2) ;
	border-radius: 30px;
	box-shadow: 0 32px 30px rgba(68, 77, 136,0.7)
}
.offer{
	background: radial-gradient(#fff,#46fccc);
    margin-top: 50px;
    padding: 10px;
    height: 700px;
}   
.col-2 img{
	position:relative;
	top: 20px;
	right: 20%;
	width: 15%;
	transform: rotate(20deg);
}
.col-2 p{
	font-size: 20px;
	font-family: Rockwell;
}
.col-2 h1{
	font-family: Lucida Handwriting;
	font-weight: bolder;
	font-size: 4em;
}
.col-2 small{
	text-align: justify;
	font-style: italic;
	font-size: 1em;
	font-family: Rockwell;
	font-weight: bolder;
	line-height: 23px;
}
.row p, h1, small{
	
	position: relative;
	left: 10%;
	bottom: 430px ;
}
.order{
	position: relative;
	bottom: 400px;
	right:2%;
}
.btn3{
	background-image: linear-gradient( to left ,#C4E538,#009432,#C4E538);
}
.foot-main{
	position: relative;
	top: 118pc;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	position: relative;	
	background-color: #000000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-family: Lucida Handwriting;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 5rem;
}
.footer-content p{
	font-style: italic;
	font-family: Rockwell;
	max-width: 500px;
	margin: 8px auto;
	line-height: 28px;
	font-size: 17px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a i{
	font-size: 1.4rem;
}
.footer-bottom{
	position: relative;
	line-height: 28px;
	background: #404040;
	width: 100vw;
	padding-top: 30px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: 60%;
	font-weight: 400;
}
